@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .championListBox {
    @apply grid grid-cols-[repeat(auto-fill,minmax(350px,1fr))] gap-10 justify-items-center mx-20 my-10;
  }

  .spellImage {
    @apply rounded-md mx-2 mb-1;
  }

  .spellName {
    @apply text-sm font-bold text-deepBlue;
  }

  .boxBorder {
    @apply  border-[1px]  border-lightGold rounded-md
  }
}
